/* Estilize o título */
#label-title {
    font-size: 24px;
    color: #ffffff;
}

#label-status {
    font-size: 18px;
    color: #ffffff;
}

/* Estilize o seletor de arquivo */
#file-chooser {
    font-size: 16px;
    background-color: #333;
    border-radius: 2px;
}

/* Estilize os botões de seleção de tipo de execução */
#radio-button {
    font-size: 14px;
    color: #ffffff;
    background-color: #333;
    border-color: #333;
    border-width: 3px;
    border-style: solid;
}

#radio-button:checked {
    font-size: 14px;
    background-color: #333;
    border-color: #0078d4;
    border-width: 3px;
    border-style: solid;
}

#radio-button:hover {
    background-color: #474747;
    border-color: #0078d4;
    border-width: 3px;
    border-style: solid;
}

/* Estilize a barra de status */
#status-bar {
    background-color: #ffffff;
    border-radius: 2px;
    color: #333;
}

/* Estilize o botão "Iniciar" */
#start-button {
    background-color: #ffffff;
    color: #333;
}

#start-button:hover {
    background-color: #0078d4;
    color: #ffffff;
}

#start-button, 
#status-bar, 
#button-box, 
#file-chooser, 
#label-title,
#label-status {
    padding: 6px 14px;
}

#label-description  {
    padding: 10px 14px 4px 14px;
    
}
